@page
@model VideoSharingSite.Pages.Creators.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creator[0].Handle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator[0].Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Creator) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Handle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   PlatformOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <text> | </text>
                    }

                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>

                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   PlatformOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
