@page
@model VideoSharingSite.Pages.Statistic.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statistics[0].TargetAudience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics[0].AverageViewsPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics[0].AverageCommentsPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics[0].AveragePercentageWatchtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Statistics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TargetAudience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageViewsPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageCommentsPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AveragePercentageWatchtime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
