@page
@model VideoSharingSite.Pages.Videos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].LengthInSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Statistics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Video) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthInSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statistics.TargetAudience)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
